@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  line-height: 43.58px;
  font-weight: 600;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px !important;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap between dots */
}

.swiper-pagination-bullet {
  width: 40px !important;
  height: 5px !important;
  background-color: white !important; /* Default background for inactive dots */
  border-radius: 1px !important;

}

.swiper-pagination-bullet-active {
  background-color: #06A580 !important; /* Main color for active dot */
}
