@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 32px;
  line-height: 43.58px;
  font-weight: 600;
}

